<body>

  <div class="jumbotron text-center">
    <h1>Eat-Da-Burger!</h1>
    <img src="/assets/images/burger01.jpg" alt="BURGER" height="200" width="140" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <ol>

          {{#each burgers}}
          {{#if devoured}}

          {{> burger/burger-block sleep=false}}

          {{/if}}
          {{/each}}

        </ol>

      </div>
      <div class="col-sm-5">
        <ol>
          {{#each burgers}}
          {{#unless devoured}}

          {{> burger/burger-block2 sleep=true}}

          {{/unless}}
          {{/each}}
        </ol>

      </div>

    </div>
    <hr>
    <div class=row>

      <div class="col-sm-4"></div>
      <div class="col-sm-4">

        <form class="create-form">

          <div class="form-group">

            <p align="center"><b>ENTER A BURGER YOU WANT TO EAT AND SUMMIT </b></p>
            <input class="form-control" id="ca" name="burger_name"></input>
            <br>
            <button type="submit" class="btn btn-primary btn-block">SUMMIT</button>

          </div>

          <div class="form-group"></div>

        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</body>